.footer {
  padding: $small-sections-padding;
  background-color: $background-color;
  color: #fff;

  .footer-logo {
    color: $footer-title;
  }
  .footer-area-we-serve,
  .footer-services,
  .footer-services,
  .footer-contact-information,
  .footer-terms-condition {
    h3 {
      color: $footer-title;
      text-decoration: underline;
      text-underline-offset: 10px;
      margin-bottom: 1.6rem;
    }
  }
  .info {
    .sebd-mail {
      .fa-envelope {
        color: #fff;
        width: 30px !important;
        height: 30px;
      }
    }
    ul {
      li {
        .fa-linkedin {
          color: #fff;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .footer-location {
    margin: 20px 0;
    .footer-location-box {
      background-color: $second-background-color;
      padding: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      margin: 15px 0;
    }
    .footer-location-box {
      .fa-x {
        color: #fff;
        width: 30px;
        height: 30px;
        margin-left: 10px;
      }
    }
  }
}
