.hero.hero75vh {
  height: 75vh;
  .imgcar {
    height: 75vh;
  }
}

@media (max-width: 800px) {
  .hero.hero75vh {
    height: 50vh;
    .imgcar {
      height: 50vh;
    }
  }
}
.contentText {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 70px 0;
  gap: 10px;
  h2 {
    color: $primary-color;
    padding: 20px 0;
    @media (max-width: 800px) {
      font-size: 1.3rem;
    }
  }
  p {
    color: rgba(138, 138, 138, 1);
    font-size: 1.2rem;
    @media (max-width: 800px) {
      font-size: 1rem;
    }
  }
  span {
    font-size: 1.2rem;
    span,
    a {
      color: $primary-color;
    }
    @media (max-width: 800px) {
      font-size: 1rem;
    }
  }
}
.images {
  gap: 40px;
  flex-wrap: wrap;
  @include flex;
  padding-bottom: 20px;
  img {
    width: 500px;
    height: 350px;
    border-radius: 25px;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .images {
    gap: 20px;
    img {
      width: 100%;
      height: 270px;
    }
  }
}
@media (max-width: 450px) {
  .images {
    img {
      width: 100%;
      height: 200px;
    }
  }
}
.flex50 {
  display: flex;
  gap: 40px;
  padding-bottom: 50px;
  flex-wrap: wrap-reverse;
  .image {
    width: fit-content;
    padding: 0;
  }
  .contentText {
    padding: 0;
    width: fit-content;
  }
}
@media (max-width: 1000px) {
  .flex50 {
    gap: 0;
    .image {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.stepsCards {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.scard {
  max-width: 330px;
  width: 100%;
  @include flex();
  flex-direction: column;
  gap: 20px;
  padding: 50px 30px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  p {
    color: rgba(138, 138, 138, 1);
    font-size: 1.2rem;
    text-align: center;
    padding: 0 10px;
    @media (max-width: 800px) {
      font-size: 1rem;
      padding: 0;
    }
  }
  h3 {
    width: 80px;
    height: 70px;
    border-radius: 8px;
    background-color: rgba(0, 113, 45, 1);
    color: #fff;
    @include flex;
  }
}
@media (max-width: 800px) {
  .scard {
    max-width: 100%;
    padding: 30px 20px;
  }
}

.ulList {
  width: 100%;
  @include flex;
  gap: 75px;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.ullItem {
  width: 500px;
  ul {
    list-style: disc;
    padding: 30px 20px;
    li {
      padding-top: 7px;
      font-size: 1.2rem;
      color: rgba(138, 138, 138, 1);
    }
  }
}
.imageli {
  width: 100%;
  @include flex;
  border-radius: 25px;
  overflow: hidden;
  height: 330px;
  position: relative;

  img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h2 {
    position: absolute;
    z-index: 3;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #00000060;
  }
}
@media (max-width: 600px) {
  .ulList{
    gap: 0;
  }
  .scard{
    border-radius: 15px;
  }
  .ullItem{
    ul{
      li{
        font-size: 1rem;
      }
    }
  }
  .imageli {
    border-radius: 15px;
    height: 250px;
    h2{
      font-size: 1.3rem;
    }
  }
}
