.authContainer {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
  .image {
    width: 650px;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.form {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 650px);
  height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  h2 {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    font-size: 1.8rem;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      object-fit: contain;
    }
  }
}
@media (max-width: 1200px) {
  .authContainer {
    .image {
      width: 550px;
    }
  }
  .form {
    width: calc(100% - 550px);
  }
}
@media (max-width: 1100px) {
  .authContainer {
    .image {
      width: 500px;
    }
  }
  .form {
    width: calc(100% - 500px);
  }
}
@media (max-width: 1000px) {
  .authContainer {
    .image {
      width: 400px;
    }
  }
  .form {
    width: calc(100% - 400px);
  }
}
@media (max-width: 950px) {
  .authContainer {
    height: auto;
    .image {
      display: none;
    }
  }
  .form {
    width: calc(100%);
    height: auto;
  }
}
@media (max-width: 600px) {
  .form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.w500 {
  width: 430px;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  p{
    text-align: center;
    color: #8A8A8A;
    font-size: 1.2rem;
    @media (max-width:600px) {
      
      font-size: 1rem;
    }
  }
}
.input {
  width: 100%;
  display: flex;
  flex-direction: column;

  // padding: 30px 0;
  span,
  label {
    width: 100%;
    padding-bottom: 10px;
    font-weight: 500;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid $gray-border;
    border-radius: 8px;
    height: 45px;
    padding: 0 15px;
    font-size: 1rem;
  }
  .withIcon {
    display: flex;
    align-items: center;
    position: relative;
    i {
      position: absolute;
      right: 15px;
    }
  }
}
.forgotAndRem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.rem {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  input {
    width: 17px;
    height: 17px;
    border: 1px solid #282828;
    accent-color: $primary-color;
  }
  label {
    color: #8a8a8a;
  }
}
.forgot {
  a {
    text-decoration: underline;
    color: $dark-primary-color;
    font-weight: 500;
    @media (max-width: 400px) {
      font-size: 0.9rem;
    }
  }
}
.submitbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  button {
    @include noBorder();
    background-color: $primary-color;
    color: #fff;
    @include flex();
    width: 100%;
    font-weight: 500;
    height: 47px;
    border-radius: 8px;
    font-size: 1rem;
  }
}
.or {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d0d0d0;
    z-index: 1;
  }
  span {
    position: absolute;
    z-index: 2;
    padding: 0 15px;
    background-color: #fff;
  }
}

.logWith {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 30px;
  .icon {
    @include flex;

    width: 70px;
    height: 63px;
    border-radius: 10px;
    background-color: #e6e2df4d;
  }
}
.do {
  @include flex();
  text-align: center;
  gap: 5px;
  padding-top: 20px;
  a {
    font-weight: 500;
    color: $dark-primary-color;
    text-decoration: underline;
  }
}
.resend {
  justify-content: center;
  button {
    font-weight: 600;
    width: 100%;
    text-align: center;
    span {
      color: $dark-primary-color;
    }
  }
}
.jcc {
  justify-content: center;
}
.otpInputs {
  width: 100%;
  @include flex();
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  direction: ltr;

  input {
    width: 60px;
    text-align: center;
    height: 55px;
    @include noBorder();
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0;
    overflow: hidden;
    border: 1px solid $gray-border;
    transition: border-color 0.3s ease;
  }
  .isFilled{
    border: 1px solid $primary-color;
  }
}

@media (max-width: 600px) {
  .otpInputs {
    gap: 10px;
    flex-wrap: nowrap;
    input {
      width: calc(100% / 6 - 5px);
    }
  }
}
