@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "El Messiri", serif;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  font-family: "El Messiri", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.header {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 8;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.header h4 {
  color: #feffd2;
  font-size: 20px;
  line-height: 30px;
}
.header p {
  color: #feffd2;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  z-index: 99;
}
.search-form input {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #1a4d2e;
  padding: 10px 10px 10px 50px;
  margin-right: 10px;
}
.search-form input .search-btn {
  position: relative;
}
.search-form .fa-gear {
  font-size: 10px;
  position: absolute;
  top: 20px;
}
.search-form .fa-magnifying-glass {
  color: #00712d;
  position: absolute;
  top: 32%;
  left: 39%;
}
.search-form .btn-success {
  display: flex;
  align-items: center;
  padding: 13px 15px !important;
}

.navbarmenu {
  position: relative;
  z-index: 100;
}
.navbarmenu .bg-body-tertiary {
  background: #1a4d2e !important;
  top: 10px;
  width: calc(100% - 100px);
  padding: 0 10px;
  border-radius: 50px;
  margin: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 1000px) {
  .navbarmenu .bg-body-tertiary {
    width: calc(100% - 40px);
  }
}
.navbarmenu .navbar-nav .nav-link {
  color: #fff !important;
}
.navbarmenu .navbar-nav .active {
  color: #ffc145 !important;
  border-bottom: 2px solid #ffc145;
}
.navbarmenu .dropdown-toggle {
  background-color: transparent;
  border: none;
}
.navbarmenu .dropdown-toggle:after {
  display: none;
}
.navbarmenu .langs {
  color: #fff;
}
.navbarmenu .langs:hover {
  color: #ffc145;
  cursor: pointer;
}
.navbarmenu .logs:hover {
  color: #ffc145;
  cursor: pointer;
}

.hero {
  position: relative;
  height: 95vh;
}
@media (max-width: 800px) {
  .hero {
    height: 60vh;
  }
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 77, 46, 0.4);
  color: #fff;
  z-index: 2;
}
.hero .imgcar {
  position: relative;
  width: 100%;
  height: 95vh;
  z-index: -1;
}
@media (max-width: 800px) {
  .hero .imgcar {
    height: 60vh;
  }
}
.hero .imgcar img {
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel {
  position: relative;
}
.carousel .carousel-caption {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.carousel .carousel-caption img {
  -o-object-fit: contain;
     object-fit: contain;
}

.image-clip-path {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-start;
}
.image-clip-path img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateY(45%);
}
@media (max-width: 800px) {
  .image-clip-path img {
    transform: translateY(46%);
  }
}
@media (max-width: 450px) {
  .image-clip-path img {
    transform: translateY(48%);
  }
}

.platform {
  padding: 50px 0 100px 0;
  position: relative;
}
.platform h2 {
  color: #00712d;
  max-width: 500px;
  margin: 10px auto;
  font-size: 1.7rem;
  line-height: 1.5;
  position: relative;
  z-index: 5;
}
.platform p {
  z-index: 50;
  color: #00712d;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  z-index: 5;
}
.platform .abs-img {
  position: absolute;
  top: -60px;
  width: 200px;
  height: 300px;
  right: 0;
  z-index: 4;
}
@media (max-width: 1000px) {
  .platform .abs-img {
    width: 100px;
    height: 200px;
    top: -50px;
  }
}
.platform .abs-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.nearest {
  padding: 50px 0;
}
.nearest h3 {
  color: #00712d;
}
.nearest .box {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  width: 90%;
}
.nearest .box .box-img {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  position: relative;
}
.nearest .box .box-img:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.nearest .box .box-img:hover .overlay {
  display: block;
}
.nearest .box .box-img:hover .show-park {
  display: block;
}
.nearest .box .box-img .overlay {
  background-color: rgba(34, 34, 34, 0.4784313725);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 999;
  mask-image: url("/images/shapes/zigzag.png");
  -webkit-mask-image: url("/images/shapes/zigzag.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  display: none;
}
.nearest .box .box-img .show-park {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 999;
  cursor: pointer;
}
.nearest .box .box-img .show-park p {
  color: #fff;
}
.nearest .box img {
  -o-object-fit: cover;
     object-fit: cover;
  mask-image: url("/images/shapes/zigzag.png");
  -webkit-mask-image: url("/images/shapes/zigzag.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  padding: 20px;
  margin: 10px auto;
}
.nearest .box img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.nearest .box .fa-star {
  color: #ffc145;
}
.nearest .like {
  position: relative;
  cursor: pointer;
}
.nearest .like .fa-heart {
  color: #ffc145;
  position: absolute;
  top: 22px;
  left: 70px;
  z-index: 1;
  background-color: #fff;
  padding: 7px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.nearest .rate {
  color: #8a8a8a;
}
.nearest .rate .town {
  text-align: end;
  margin-right: 25px;
}
.nearest .read-more {
  cursor: pointer;
}
.nearest .read-more p {
  color: #1a4d2e;
}
.nearest .read-more p:hover {
  color: #ffc145;
}

.famous-parks {
  padding: 50px 0;
}
.famous-parks h3 {
  color: #00712d;
}
.famous-parks .box {
  background-color: #fff;
  box-shadow: 10px 10px 10px #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 90%;
  margin: 10px auto;
  cursor: pointer;
}
.famous-parks .box img {
  -o-object-fit: cover;
     object-fit: cover;
  mask-image: url("/images/shapes/zigzag.png");
  -webkit-mask-image: url("/images/shapes/zigzag.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  padding: 20px;
  margin: 10px auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.famous-parks .box img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.famous-parks .box .fa-star {
  color: #ffc145;
}
.famous-parks .like {
  position: absolute;
}
.famous-parks .read-more {
  cursor: pointer;
}
.famous-parks .read-more p {
  color: #1a4d2e;
}
.famous-parks .read-more p:hover {
  color: #ffc145;
}

.news {
  background-color: #feffd2;
}
.news h3 {
  color: #00712d;
}
.news .box {
  padding: 10px 10px 0 10px;
  background-color: #fff;
  box-shadow: 10px 10px 10px 10px #d3d3d3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 90%;
  margin: 10px;
  cursor: pointer;
}
.news .box h4 {
  font-weight: bold;
}
.news .box p {
  color: #676767;
  font-size: 15px;
  line-height: 30px;
  padding: 10px 0;
}
.news .box .box-header {
  padding: 10px 0;
}
.news .box .box-header .header-img {
  position: relative;
  width: 50%;
  height: 100px;
  margin-left: 10px;
}
.news .box .box-header .header-img img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .title {
  text-align: end;
}
.news .title h5 {
  font-size: 18px;
  margin-bottom: 0;
}
.news .read-more p {
  color: #1a4d2e;
  cursor: pointer;
}
.news .read-more p:hover {
  color: #ffc145;
}

.addnewpark {
  position: relative;
  background-color: #00712d;
  color: white;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  background-image: url("/images/pappers/papper2.png"), url("/images/pappers/papper2.png"), url("/images/pappers/papper2.png"), url("/images/pappers/papper2.png"), url("/images/pappers/papper2.png");
  background-size: 50px, 60px, 40px, 55px, 45px;
  background-position: 10% 20%, 70% 30%, 30% 80%, 80% 60%, 50% 10%;
  background-repeat: no-repeat;
  padding: 40px;
}
.addnewpark p {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.addnewpark ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-size: 100px;
  opacity: 0.3;
}
.addnewpark .add-btn {
  position: relative;
  padding-bottom: 10px;
}
.addnewpark .add-btn .btn-warning {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 47px;
  border-radius: 8px;
  font-size: 1rem;
}
.addnewpark .add-btn .btn-warning span {
  margin-left: 10px;
}
.addnewpark .add-btn .btn-warning .fa-plus {
  background-color: #fff;
  padding: 2px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-top: 3px;
}

.parks {
  padding: 50px 0;
}
.parks .first-park {
  width: 90%;
  margin: 50px auto;
  padding: 50px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parks .first-park img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 80% 100%, 32% 100%, 32% 70%, 0% 70%, 0 32%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 80% 100%, 32% 100%, 32% 70%, 0% 70%, 0 32%, 0 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parks .second-park {
  padding: 50px 0;
  border: 1px dotted #ccc;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parks .second-park img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 73% 70%, 73% 100%, 21% 100%, 0 100%, 0% 35%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 73% 70%, 73% 100%, 21% 100%, 0 100%, 0% 35%, 0 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parks h3 {
  color: #00712d;
  margin-bottom: 10px;
}
.parks h3 span {
  color: #000;
}

.apps {
  background-color: #feffd2;
  padding: 50px 0;
  position: relative;
}
.apps h3 {
  color: #00712d;
  font-size: 30px;
  width: 45%;
  margin: 20px auto;
}
.apps .background-box {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #00712d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  right: 42%;
}
.apps .background-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.apps .app-image {
  position: relative;
  width: 100%;
  height: 400px;
}
.apps .app-image img {
  -o-object-fit: contain;
     object-fit: contain;
}
.apps ul {
  margin-top: 30px;
}
.apps ul li p {
  color: #00712d;
  font-weight: bold;
}

.footer {
  padding: 20px 0 10px 0;
  background-color: #1a4d2e;
  color: #fff;
}
.footer ul li {
  margin-bottom: 15px;
  font-weight: normal;
}
.footer ul li a {
  margin: 0;
}
.footer .mark {
  position: relative;
  width: 100%;
  height: 200px;
}
.footer .mark img {
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .copy {
  text-align: center;
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 25px;
}

.authContainer {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.authContainer .image {
  width: 650px;
  height: 100vh;
}
.authContainer .image img {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 650px);
  height: 100vh;
  overflow-y: scroll;
}
.form::-webkit-scrollbar {
  width: 0;
}
.form h2 {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  font-size: 1.8rem;
}
.form .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1200px) {
  .authContainer .image {
    width: 550px;
  }
  .form {
    width: calc(100% - 550px);
  }
}
@media (max-width: 1100px) {
  .authContainer .image {
    width: 500px;
  }
  .form {
    width: calc(100% - 500px);
  }
}
@media (max-width: 1000px) {
  .authContainer .image {
    width: 400px;
  }
  .form {
    width: calc(100% - 400px);
  }
}
@media (max-width: 950px) {
  .authContainer {
    height: auto;
  }
  .authContainer .image {
    display: none;
  }
  .form {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.w500 {
  width: 430px;
}
@media (max-width: 600px) {
  .w500 {
    width: 100%;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputs p {
  text-align: center;
  color: #8a8a8a;
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .inputs p {
    font-size: 1rem;
  }
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input span,
.input label {
  width: 100%;
  padding-bottom: 10px;
  font-weight: 500;
}
.input input {
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  height: 45px;
  padding: 0 15px;
  font-size: 1rem;
}
.input .withIcon {
  display: flex;
  align-items: center;
  position: relative;
}
.input .withIcon i {
  position: absolute;
  right: 15px;
}

.forgotAndRem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.rem {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.rem input {
  width: 17px;
  height: 17px;
  border: 1px solid #282828;
  accent-color: #00712d;
}
.rem label {
  color: #8a8a8a;
}

.forgot a {
  text-decoration: underline;
  color: #1a4d2e;
  font-weight: 500;
}
@media (max-width: 400px) {
  .forgot a {
    font-size: 0.9rem;
  }
}

.submitbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.submitbtn button {
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #00712d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  height: 47px;
  border-radius: 8px;
  font-size: 1rem;
}

.or {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.or::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d0d0d0;
  z-index: 1;
}
.or span {
  position: absolute;
  z-index: 2;
  padding: 0 15px;
  background-color: #fff;
}

.logWith {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 30px;
}
.logWith .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 63px;
  border-radius: 10px;
  background-color: rgba(230, 226, 223, 0.3019607843);
}

.do {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 20px;
}
.do a {
  font-weight: 500;
  color: #1a4d2e;
  text-decoration: underline;
}

.resend {
  justify-content: center;
}
.resend button {
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.resend button span {
  color: #1a4d2e;
}

.jcc {
  justify-content: center;
}

.otpInputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  direction: ltr;
}
.otpInputs input {
  width: 60px;
  text-align: center;
  height: 55px;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  transition: border-color 0.3s ease;
}
.otpInputs .isFilled {
  border: 1px solid #00712d;
}

@media (max-width: 600px) {
  .otpInputs {
    gap: 10px;
    flex-wrap: nowrap;
  }
  .otpInputs input {
    width: calc(16.6666666667% - 5px);
  }
}
.titlepage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 40;
  position: absolute;
  width: 100%;
  height: 100%;
}
.titlepage h2 {
  margin: 0 20px;
  padding: 10px 25px;
  position: absolute;
  background-color: #fff;
  color: #00712d;
  border-radius: 30px;
  font-size: 1.3rem;
}

.h2 {
  width: 100%;
  padding: 70px 20px;
}
.h2 h2 {
  width: 100%;
  text-align: center;
  color: #00712d;
}
@media (max-width: 600px) {
  .h2 h2 {
    font-size: 1.3rem;
    padding: 0 20px;
  }
}

.paginationCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  direction: ltr;
  padding-top: 50px;
  padding-bottom: 50px;
}

.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}
.paginations button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ffc145;
  cursor: pointer;
  color: #ffc145;
}
.paginations button img {
  width: 7px;
}

.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0 10px;
  flex-wrap: wrap;
}
.paginations .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #ffc145;
  transition: 0.2s;
  cursor: pointer;
  font-weight: 700;
}
.paginations .page-link img {
  width: 7px;
}
.paginations .page-link:hover {
  background-color: #ffc145;
  color: #fff;
}
.paginations .page-link.active {
  background-color: #ffc145;
  color: #fff;
}
.paginations .page-link.active:hover {
  background-color: #ffc145;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nande {
  width: 100%;
  display: flex;
  padding: 30px 20px;
  align-items: stretch;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}
.nande img {
  width: 400px !important;
  height: 250px !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  border-radius: 10px !important;
}

.nandeD h2 {
  padding-top: 10px;
}
.nandeD p {
  color: #8a8a8a;
  font-size: 1.2rem;
  width: 90%;
  padding-top: 10px;
}
.nandeD p button,
.nandeD p a {
  color: #00712d;
  font-size: 1rem;
  font-weight: 600;
  display: inline;
  padding: 0 5px;
}

@media (max-width: 1000px) {
  .nande {
    flex-direction: column;
  }
  .nande img {
    width: 100%;
  }
  .nandeD p {
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .nande img {
    height: auto;
  }
}
.pr {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pr h2 {
  color: #8a8a8a;
  font-size: 1.5rem;
  padding-top: 20px;
  text-align: center;
}
@media (max-width: 500px) {
  .pr h2 {
    font-size: 1.3rem;
  }
}
.pr .search-form {
  position: relative;
}

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.favItem {
  width: 300px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 15px 10px;
  position: relative;
}

.likeItemBtn {
  position: absolute;
  left: 25px;
  top: 15px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 31, 93, 0.1803921569);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.likeItemBtn i {
  color: #ffc145;
  font-size: 1.3rem;
}

.favItemImage {
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}
.favItemImage img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s all ease;
}
.favItemImage .image-layer {
  position: absolute;
  width: 110%;
  height: 100%;
  z-index: 3;
}
.favItemImage .overlay {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 34, 0);
  position: absolute;
  transition: 0.3s all ease;
}
.favItemImage .overlay span {
  color: #fff;
  opacity: 0;
  transform: translate(10px, 10px);
  transition: 0.3s all ease;
  z-index: 10;
  font-size: 1.1rem;
  font-weight: 600;
}
.favItemImage:hover img {
  width: 110%;
}
.favItemImage:hover .image-layer {
  width: 115%;
}
.favItemImage:hover .overlay {
  background-color: rgba(34, 34, 34, 0.4784313725);
}
.favItemImage:hover .overlay span {
  transform: translate(0, 0);
  opacity: 1;
}

.favItemData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.itD {
  display: flex;
  flex-direction: column;
}
.itD span:nth-child(1) {
  font-weight: 600;
}
.itD span:nth-child(2) {
  color: rgb(138, 138, 138);
  font-size: 0.9rem;
}

.itR {
  display: flex;
  flex-direction: column;
}
.itR span {
  color: rgb(138, 138, 138);
  font-size: 0.9rem;
  text-align: left;
  padding-top: 10px;
}

.rate {
  display: flex;
  gap: 5px;
  direction: ltr;
}
.rate i {
  font-size: 0.8rem;
  color: #ffc145;
}

.favinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.hero.hero75vh {
  height: 75vh;
}
.hero.hero75vh .imgcar {
  height: 75vh;
}

@media (max-width: 800px) {
  .hero.hero75vh {
    height: 50vh;
  }
  .hero.hero75vh .imgcar {
    height: 50vh;
  }
}
.contentText {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 70px 0;
  gap: 10px;
}
.contentText h2 {
  color: #00712d;
  padding: 20px 0;
}
@media (max-width: 800px) {
  .contentText h2 {
    font-size: 1.3rem;
  }
}
.contentText p {
  color: rgb(138, 138, 138);
  font-size: 1.2rem;
}
@media (max-width: 800px) {
  .contentText p {
    font-size: 1rem;
  }
}

.images {
  gap: 40px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.images img {
  width: 500px;
  height: 350px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 700px) {
  .images {
    gap: 20px;
  }
  .images img {
    width: 100%;
    height: 270px;
  }
}
@media (max-width: 450px) {
  .images img {
    width: 100%;
    height: 200px;
  }
}
.flex50 {
  display: flex;
  gap: 40px;
  padding-bottom: 50px;
  flex-wrap: wrap-reverse;
}
.flex50 .image {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
.flex50 .contentText {
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1000px) {
  .flex50 {
    gap: 0;
  }
  .flex50 .image {
    width: 100%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=globals.css.map */