@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "El Messiri", serif;
}

body {
  font-family: "El Messiri", serif;
}

a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.navbarmenu {
  position: relative;
  z-index: 2;
}
.navbarmenu .bg-body-tertiary {
  background: #1a4d2e !important;
  top: 10px;
  width: 80%;
  margin: auto;
  padding: 0 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.navbarmenu .navbar-nav .nav-link {
  color: #fff !important;
}
.navbarmenu .navbar-nav .active {
  color: #ffc145 !important;
  border-bottom: 2px solid #ffc145;
}
.navbarmenu .dropdown-toggle {
  background-color: transparent;
  border: none;
}
.navbarmenu .dropdown-toggle:after {
  display: none;
}
.navbarmenu .langs {
  color: #fff;
}
.navbarmenu .langs:hover {
  color: #ffc145;
  cursor: pointer;
}
.navbarmenu .logs:hover {
  color: #ffc145;
  cursor: pointer;
}

.hero {
  position: relative;
  height: 80vh;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 77, 46, 0.4);
  color: #fff;
  z-index: 0;
}
.hero .imgcar {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: -1;
}
.hero .imgcar img {
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel {
  position: relative;
}
.carousel .carousel-caption {
  position: absolute;
  z-index: 1;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.platform {
  padding: 50px 0;
}
.platform h2 {
  color: #00712d;
  width: 50%;
  margin: 10px auto;
}
.platform p {
  color: #00712d;
  font-weight: bold;
  font-size: 30px;
}
.platform .abs-img {
  position: absolute;
  top: 79%;
  width: 10%;
  height: 250px;
}
.platform .abs-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  padding: 20px 0 10px 0;
  background-color: #1a4d2e;
  color: #fff;
}
.footer ul li {
  margin-bottom: 15px;
  font-weight: normal;
}
.footer .mark {
  position: relative;
  width: 100%;
  height: 200px;
}
.footer .mark img {
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .copy {
  text-align: center;
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 25px;
}

.authContainer {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.authContainer .image {
  width: 650px;
  height: 100vh;
}
.authContainer .image img {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 650px);
  height: 100vh;
  overflow-y: scroll;
}
.form::-webkit-scrollbar {
  width: 0;
}
.form h2 {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  font-size: 1.8rem;
}
.form .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1200px) {
  .authContainer .image {
    width: 550px;
  }
  .form {
    width: calc(100% - 550px);
  }
}
@media (max-width: 1100px) {
  .authContainer .image {
    width: 500px;
  }
  .form {
    width: calc(100% - 500px);
  }
}
@media (max-width: 1000px) {
  .authContainer .image {
    width: 400px;
  }
  .form {
    width: calc(100% - 400px);
  }
}
@media (max-width: 950px) {
  .authContainer {
    height: auto;
  }
  .authContainer .image {
    display: none;
  }
  .form {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.w500 {
  width: 430px;
}
@media (max-width: 600px) {
  .w500 {
    width: 100%;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input span,
.input label {
  width: 100%;
  padding-bottom: 10px;
  font-weight: 500;
}
.input input {
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  height: 45px;
  padding: 0 15px;
  font-size: 1rem;
}
.input .withIcon {
  display: flex;
  align-items: center;
  position: relative;
}
.input .withIcon i {
  position: absolute;
  right: 15px;
}

.forgotAndRem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.rem {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.rem input {
  width: 17px;
  height: 17px;
  border: 1px solid #282828;
  accent-color: #00712D;
}
.rem label {
  color: #8A8A8A;
}

.forgot a {
  text-decoration: underline;
  color: #1A4D2E;
  font-weight: 500;
}
@media (max-width: 400px) {
  .forgot a {
    font-size: 0.9rem;
  }
}

.submitbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.submitbtn button {
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #00712D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  height: 47px;
  border-radius: 8px;
  font-size: 1rem;
}

.or {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.or::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #D0D0D0;
  z-index: 1;
}
.or span {
  position: absolute;
  z-index: 2;
  padding: 0 15px;
  background-color: #fff;
}

.logWith {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 30px;
}
.logWith .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 63px;
  border-radius: 10px;
  background-color: rgba(230, 226, 223, 0.3019607843);
}

.do {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 20px;
}
.do a {
  font-weight: 500;
  color: #1A4D2E;
  text-decoration: underline;
}/*# sourceMappingURL=globals.css.map */