.btn-prim {
  background-color: $background-color;
  border-color:$background-color ;
  color: #fff;
  font-size: 20px  ;
  font-weight: 400;
  padding: 2px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
