.famous-parks {
  padding: 50px 0;
  h3 {
    color: $primary-color;
  }
  .box {
    background-color: #fff;
    box-shadow: $box-shadow;
    @include borderRedius(10px);
    width: 90%;
    margin: 10px;
    cursor: pointer;
    img {
      padding: 20px;
      margin: 10px auto;
      @include transitions();
      &:hover {
        @include transitionScale();
      }
    }
    .fa-star {
      color: $hover-color;
    }
  }
  .like {
    position: absolute;
  }
  .read-more {
    cursor: pointer;
    p {
      color: $dark-primary-color;
      &:hover {
        color: $hover-color;
      }
    }
  }
}
