.navbarmenu {
  .bg-body-tertiary {
    background: #1a4d2e !important;
    top: 10px;
    width: 80%;
    margin: auto;
    padding: 0 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .navbar-nav {
    .nav-link {
      color: #fff !important;
    }
    .active {
      color: #ffc145 !important;
      border-bottom: 2px solid #ffc145;
    }
  }
  .dropdown-toggle {
    background-color: transparent;
    border: none;
  }
  .dropdown-toggle:after {
    display: none;
  }
  .langs {
    color: #fff;
    &:hover {
      color: #ffc145;
      cursor: pointer;
    }
  }
  .logs {
    &:hover {
      color: #ffc145;
      cursor: pointer;
    }
  }
}

.hero {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26 77 46 / 33%);
    color: #fff;
    z-index: 999;
  }
  .imgcar {
    position: relative;
    width: 100%;
    height: 100vh;

    img {
      object-fit: cover;
    }
  }
}
