.header {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -160%);
  -webkit-transform: translate(-50%, -160%);
  -moz-transform: translate(-50%, -160%);
  -ms-transform: translate(-50%, -160%);
  -o-transform: translate(-50%, -160%);
  z-index: 8;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  h4 {
    color: $text-gray;
    font-size: 20px;
    line-height: 30px;
  }
  p {
    color: $text-gray;
  }
}
.search-form {
  @include flex();
  width: 100%;
  @include centerPosition();
  z-index: 999999;
  input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid $dark-primary-color;
    padding: 10px 10px 10px 50px;
    margin-right: 10px;
    .search-btn {
      position: relative;
    }
  }
  .fa-gear {
    font-size: 10px;
    position: absolute;
    top: 20px;
  }

  .fa-magnifying-glass {
    color: $primary-color;
    position: absolute;
    top: 32%;
    left: 39%;
  }
  .btn-success {
    display: flex;
    align-items: center;
    padding: 13px 15px !important;
  }
}
.navbarmenu {
  position: relative;
  z-index: 10;
  .bg-body-tertiary {
    background: $dark-primary-color !important;
    top: 10px;
    width: calc(100% - 100px);
    @media (max-width: 1000px) {
      width: calc(100% - 40px);
    }

    padding: 0 10px;
    border-radius: 50px;
    margin: auto;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .navbar-nav {
    .nav-link {
      color: #fff !important;
    }
    .active {
      color: $hover-color !important;
      border-bottom: 2px solid $hover-color;
    }
  }
  .dropdown-toggle {
    background-color: transparent;
    border: none;
  }
  .dropdown-toggle:after {
    display: none;
  }
  .langs {
    color: #fff;
    &:hover {
      color: $hover-color;
      cursor: pointer;
    }
  }
  .logs {
    &:hover {
      color: $hover-color;
      cursor: pointer;
    }
  }
}

.hero {
  position: relative;
  height: 80vh;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26 77 46 / 40%);
    color: #fff;
    z-index: 2;
  }

  .imgcar {
    position: relative;
    width: 100%;
    height: 80vh;
    z-index: -1;

    img {
      object-fit: cover;
    }
  }
}

.carousel {
  position: relative;
  .carousel-caption {
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}

.image-clip-path {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: flex-start;
  img {
    width: 100%;
    object-fit: contain;
    transform: translateY(45%);
  }
}
