.more-about {
    padding: $big-sections-padding;
    border-bottom: 2px solid $lines-color;
  .more-about-box {
    margin: 10px 0;
    .more-about-header {
      .fa-x {
        color: #222;
        width: 30px;
        height: 30px;
        margin-left: 10px;
      }
    }
    .more-about-desc {
        color: #777;
    }
  }
}
