.nearest {
  padding: 50px 0;
  .box {
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px #d3d3d3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 90%;
    margin: 10px;
    cursor: pointer;
    img {
      padding: 20px;
      margin: 10px auto;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
    .fa-star {
      color: #ffdd55;
    }
  }
  .like {
    position: absolute;
  }
  .read-more {
    cursor: pointer;
    p {
      color: #1a4d2e;
      &:hover {
        color: #ffdd55;
      }
    }
   
  }
}
