.news {
  background-color: #feffd2;
  h3 {
    color: $primary-color;
  }
  .box {
    padding: 10px 10px 0 10px;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px #d3d3d3;
    @include borderRedius(10px);
    width: 90%;
    margin: 10px;
    cursor: pointer;
    h4 {
      font-weight: bold;
    }
    p {
      color: #676767;
      font-size: 15px;
      line-height: 30px;
      padding: 10px 0;
    }
    .box-header {
      padding: 10px 0;
      .header-img {
        position: relative;
        width: 50%;
        height: 100px;
        margin-left: 10px;
        img {
          @include borderRedius(30px);
          object-fit: cover;
        }
      }
    }
  }
  .title {
    text-align: end;
    h5 {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
  .read-more {
    p,a {
      color: $dark-primary-color;
      cursor: pointer;
      &:hover {
        color: $hover-color;
      }
    }
  }
}
