.parks {
  padding: 50px 0;
  .first-park {
    width: 90%;
    margin: 50px auto;
    padding: 50px 0;
    @include borderRedius(10px);
    img {
      object-fit: cover;
      @include clippyLeft();
      @include borderRedius(10px);
    }
  }

  .second-park {
    padding: 50px 0;
    border: 1px dotted #ccc;
    width: 90%;
    margin: auto;
    @include borderRedius(10px);
    img {
      object-fit: cover;
      @include clippyRight();
      @include borderRedius(10px);
    }
  }
  h3 {
    color: $primary-color;
    margin-bottom: 10px;
    span {
      color: #000;
    }
  }
}
