.parks {
  padding: 50px 0;
  .first-park {
    width: 90%;
    margin: 50px auto;
    padding: 50px 0;
    border: 1px dotted #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    img {
      object-fit: cover;
      clip-path: polygon(
        50% 0%,
        100% 0,
        100% 35%,
        100% 100%,
        80% 100%,
        32% 100%,
        32% 70%,
        0% 70%,
        0 32%,
        0 0
      );
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  .second-park {
    padding: 50px 0;
    border: 1px dotted #ccc;
    width: 90%;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    img {
      object-fit: cover;
      clip-path: polygon(
        50% 0%,
        100% 0,
        100% 35%,
        100% 70%,
        73% 70%,
        73% 100%,
        21% 100%,
        0 100%,
        0% 35%,
        0 0
      );
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }
  h3 {
    color: #00712d;
    margin-bottom: 10px;
    span {
      color: #000;
    }
  }
}
