@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "El Messiri", serif;
}
body {
  font-family: "El Messiri", serif;
}
a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style: none;
}
